*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}



.add {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #fff; */
    font-size: 20px;
    transition: 0.2s;
    color: #fff;
    box-shadow: 0px 23px 93px 1px rgba(0, 0, 0, 0.75);
}

.add:hover {
    background-color: #8BC34A;
    color: #fff;
}

.note {
    background: linear-gradient(#F9EFAF, #F7E98D);
    transition: all 0.3s;
}

.note:hover {
    box-shadow: 0px 23px 93px 1px rgba(0, 0, 0, 0.75);
}

.note a {
    color: black;
    font-size: 23px;
}

.note i {
    transition: all 0.3s;
}

.del:hover {
    color: #F44336;
    transform: rotate(-110deg);
}

.edit:hover {
    color: #07f542;
    transform: rotate(-50deg);
}